.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1200px) {
        overflow: hidden;
    }



    img {
        height: 100vh;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10vh;
    display: flex;
    justify-content: center;

    @media (max-width: 960px) {
        overflow: hidden;
    }

    h2 {
        position: absolute;
        top: 35%;
        font-size: 35px;
    }
    
    img{
        width: 350px;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }
    }
}